*{
    padding: 0;
    margin: 0;
    color: blue;
}

a {
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.imagens img{
    position:relative;
    margin: 0; 
    display: 0;
    bottom: 20rem;
    left: 65%;
}
  
.menu a {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
}
  
.menu a span {
    transition: transform 0.2s ease-out;
}
  
.menu a span:first-child {
    display: inline-block;
    padding: 10px;
}
  
.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 32%;
    display: flex;
    transform: translateY(-100%);
}
  
.menu i {
    font-size: 50px;
}
  
.menu a:hover span:first-child {
    transform: translateY(100%);
}
  
.menu a:hover span:last-child,
.menu[data-animation] a:hover span:last-child {
    transform: none;
}

.menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}
  
.menu[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}

html, body, nav, footer, section, .main-container{
    text-align: center;
}

html, body{
    background-color: brown;
}

.main-container{
    border:4px solid #3bd1ff;
    border-radius: 10px;
    margin: 1rem;
    background-color: rgb(201, 178, 178);
    text-align: left;
}

nav, section, footer, article, aside{
    border: 2px solid #8D9EC6;
    margin: 8px;
    border-radius: 10px;
    padding: 1rem;
}

article{
    position:relative;
    right: 25%;
    width: 45%;
    display: inline-block;
    height: 395px;
    background-color: #A06B9A;
    text-align: left;
}

aside{
    position:relative;
    bottom: 101.5%;
    left: 25%;
    width: 45%;
    display: inline-block;
    height: 395px;
    background-color: #A06B9A;
    text-align: left;
}
section{
    height: 440px;
    width: auto;
}

nav, section, footer{
    background-color: #e9580a;
}