.main-container{
    background-image: url(../Imagenes/lake-backgrounds-bridge.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
}

nav{
    color: aliceblue;
    padding: 1rem;
}

article{
    position: relative;
    border: 6px;
    background-color: rgba(0, 255, 255, 0.172);
    padding: 5pt;
    width: 99%;
    background-color: rgba(144, 144, 255, 0.309);
}

li{
    list-style-type:none;
    font-size: 30px;
}

a{
    color: rgb(216, 100, 22);
}

footer{
    font-size: 50px;
    background-color: rgba(0, 255, 255, 0.398);
    padding: 2rem;
}