/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/05/2021, 05:30:23 AM
    Author     : Admin
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.containerRegistro, .containerActualizar, .containerEliminar, .containerConsulta{
    width: 30%;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow:10px 15px 30px #000;
}

.container h1{
    font-size: 22px;
    margin-bottom: 20px;
}

.Entrada{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.boton{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.boton:hover{
    box-shadow: 0px 0px 10px red;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}